.center-pills {
  display: flex;
  justify-content: center;
}
.horizontal-line {
  border-width: 2px 0;
}
.dropdown-margin {
  margin-bottom: 20px;
}

/* http://stackoverflow.com/a/24008735/2616185 */
.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

.headline-margin {
  margin-top: 50px;
}

.headline-margin-bottom {
  margin-bottom: 50px;
}

.table td, th{
  text-align: center;
}
