<div>
    <div class="checkbox">
        <label class="active">
            <input type="checkbox" ng-model="optionsCtrl.checkboxDays" checked>Show email distribution over days
        </label>
    </div>
    <div class="checkbox">
        <label class="active">
            <input type="checkbox" ng-model="optionsCtrl.checkboxWeeks" checked>Show email distribution over weeks
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="optionsCtrl.checkboxMonths">Show email distribution over months
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="optionsCtrl.checkboxOverview">Show email overview %
        </label>
    </div>
    <hr class="horizontal-line">
</div>