<div>
    <charts-presentation-options></charts-presentation-options>
    <div ng-show="optionsCtrl.checkboxDays">
        <h3 class="text-center headline-margin">Email distribution over days</h3>
        <!--  Select date range for days -->
        <div class="pull-right" >
            <p class="text-right">Choose a date range:</p>
            <select class="form-control form-control-inline"
                    ng-init="selectedRange = selectedRange || splitSortedUniqueDatesFormControl[0]"
                    ng-model="selectedRange"
                    ng-options="range for range in splitSortedUniqueDatesFormControl"
                    ng-change="selectedRangeChanged()">
            </select>
        </div>
        <!--Chart days-->
        <canvas id="lineDays" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
                chart-series="series" >
        </canvas>
        <!--Chart days-->
    </div>
    <!-- Weeks -->
    <div ng-show="optionsCtrl.checkboxWeeks">
        <hr class="horizontal-line">
        <h3 class="text-center headline-margin">Email distribution over weeks</h3>
        <!--  Select date range for weeks -->
        <div class="pull-right" >
            <p class="text-right">Choose a date range:</p>
            <select class="form-control form-control-inline"
                    ng-init="selectedWeeksRange = selectedWeeksRange || splitSortedUniqueDatesFormControlWeeks[0]"
                    ng-model="selectedWeeksRange"
                    ng-options="range for range in splitSortedUniqueDatesFormControlWeeks"
                    ng-change="selectedRangeWeeksChanged()">
            </select>
        </div>
        <!--Chart weeks-->
        <canvas id="lineWeeks" class="chart chart-line" chart-data="dataWeeks" chart-labels="labelsWeeks" chart-legend="true"
                chart-series="seriesWeeks" >
        </canvas>
        <!--Chart weeks-->
    </div>

    <h3 ng-show="optionsCtrl.checkboxMonths">Some months text</h3>
    <h3 ng-show="optionsCtrl.checkboxOverview">Some overview text</h3>
</div>