<div>
    <div class="checkbox">
        <label class="active">
            <input type="checkbox" ng-model="optionsCtrlTables.checkboxDays">Show email distribution over days
        </label>
    </div>
    <div class="checkbox">
        <label class="active">
            <input type="checkbox" ng-model="optionsCtrlTables.checkboxWeeks" checked>Show email distribution over weeks
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="optionsCtrlTables.checkboxMonths" checked>Show email distribution over months
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="optionsCtrlTables.checkboxOverview" checked>Show email overview in percentage
        </label>
    </div>
    <hr class="horizontal-line">
</div>